@font-face {
  font-family: "iconfont"; /* Project id 3174325 */
  src: url('iconfont.woff2?t=1644458432743') format('woff2'),
       url('iconfont.woff?t=1644458432743') format('woff'),
       url('iconfont.ttf?t=1644458432743') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
  content: "\e6a8";
}

.icon-up:before {
  content: "\e6a9";
}

